a {
color: royalblue
}
.status {
 color: green;
}
button {
color: cyan;
background-color: black;
text-align: center;
}
 .con {
  text-align: center;
  border: 5px solid black;
  display: none;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
 }
 #head {
  text-align: center;
color: chartreuse;
background-color: black;
font-size: 35px;
font-weight: 900;
text-shadow: 0 0 20px #32f, 0 0 30px #1004ff, 0 0 40px #0400ff, 0 0 50px #6666ff, 0 0 60px #2402ff, 0 0 70px #4440ff, 0 0 80px #444dff;
font-family: Garamond, serif; font-size: 40px ;
 }

 h2 {
  font-size: 30px;
  text-decoration: underline;
 }
 #chc {
width: 300px;  
height: 50px;
color: royalblue;
font-weight: bold;
font-size: 25px;
background-color: pink;
 }
 .share-button , #whhj {
  background-color: yellow;
  color: blue;
 }
  
 #timer{
    position: relative;
    bottom:60px;
    font-size: 30px;
    text-align: center;
    font-family: monospace;
    background-color: lightblue;
    width: 30%;
    border: solid black 3px;
    border-radius: 15px;
}
 .prev, .next {
  cursor: pointer;  position: absolute;
  top: 85%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  visibility: hidden;
  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(50,50,50,0.4);
 color: red;
}
#body{
font-family: "Helvetica Neue";
font-size:16px;
line-height: 1.5;
}
@-webkit-keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}
#startquiz {
 background-color: red;
 color: lightGreen;
 position: relative;
 left: 100px;
 bottom:60px ;
 height: 100px;
 width: 150px;
font-size: 27px;
font-weight:bold;
}
#chc {
margin-top: 100px;
margin-bottom: 100px;
margin-left: 50 px;
margin-right: 50 px;
}
#descript {
border: 2px solid;
padding: 10px;
position: relative;
bottom:60px ;
}
.share {
color: purple;
background: lightblue;
font-weight: bold;
}
