a {
color: royalblue ;
font-family : cursive ;
font-weight: bold ;
}
.status {
 color: green;
}
button {
color: black;
background-color: white;
text-align: center;
border-radius: 5px
}
 .con {
  text-align: center;
  display: none;
 border : 5px solid ;
border-image: conic-gradient(from 0deg , red, yellow, lime, aqua, blue, magenta, red) 5 ;  
 }

 #head {
  text-align: center;
color : white ; 
font-size: 35px;
font-weight: 900;
background: repeating-radial-gradient(
    circle,
    purple,
    purple 10px,
    #4b026f 10px, 
    #4b026f 20px
  );
font-family: Garamond, serif; font-size: 40px ;
 }

 h2 {
  font-size: 30px;
  text-decoration: underline;
 }
 

 .prev, .next {
  cursor: pointer;  position: relative;
  top: 50px ;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: none;
}

/* Position the "next button" to the right */
.next {
  left : 260px ;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(50,50,50,0.4);
 color: red;
}
#body{
font-family: "Helvetica Neue";
font-size:16px;
line-height: 1.5;
}
#startquiz {
 color: white ;
 background-image: linear-gradient(to right,  #fda085 51%, #f6d365 100%);
 position: relative;
 left: 100px;
 bottom:60px ;
 height: 100px;
 width: 150px;
font-size: 27px;
font-weight:bold;
  background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
     background-size: 600% ;
     animation: anime 16s linear infinite ;
 
}
   
 @keyframes anime {
   0% {
     background-position: 0% 50% }
   50% {
     background-position: 100% 50% }
   100% {
     background-position: 0% 50% }
  
 }
#chc {
margin-top: 100px;
margin-bottom: 100px;
margin-left: 50 px;
margin-right: 50 px;
width: 300px;  
height: 50px;
color: royalblue;
font-weight: bold;
font-size: 25px;
background-color: pink;
}
#descript {
border: 2px solid;
padding: 10px;
position: relative;
bottom:60px ;
}
.share {
color: purple;
background: lightblue;
font-weight: bold;
}
.base-timer {
  position: relative;
  bottom: 50px;
  width: 150px;
  height: 150px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

body {
  --text-color: #222;
  --bkg-color: #fff;
  }
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bkg-color);
}

body {
  color: var(--text-color);
}
