
.con {
  font-family: sans-serif ;
text-align: left;
margin-bottom: 20px;
}
.con h1 {
display: inline ;
color: var(--text-color) ;
}
.category {
  text-transform : uppercase ;
  display: inline ;
  font-weight: bold ;
color: var(--text-color) ;
}
time {
color: gray ;
}
.category::after {
content: " | ";
color: var(--text-color)
}
.tag {
  border-radius: 5px ;
  height: 20px ;
width: auto ;
display: inline ;
  padding: 5px ; 
  margin-right: 5px;
color: black;
background-color: white ;
  }
.cat { background-color:cyan ; }
.tech { background-color : navy; color: cyan }
.easy { background-color: chartreuse ; }
.free { background-color: blue ; color: white  }
.hard { background-color: red ; color: white }
.program { background-color: black ; color: yellow }
.medium { background-color: orange ; color: white }
.earth { background-color: blue ; color: chartreuse }
.land { background-color: brown ; color: white }
.easy { background-color: green ; color: white }
.air { background-color: #e8e8e8 }
.body { background-color: #ffe0a1 }
.wild { background-color: green ; color: chartreuse }
.space { background-color: black ; color: cyan }
.tag-con {
  margin: 0px 10px 20px 1px ;
display: inline ;
}
  .q {
margin-top: 20px ;
display: inline ;
color: var(--text-color)
}
.q::after {
content: " | ";
color: var(--text-color) 
}
a {
text-decoration: none ;
}
